@model IEnumerable<dari_frontend.Models.RentalGrantModel>

@{
    ViewBag.Title = "Grants";
    Layout = "~/Views/Shared/_Layout_BackOffice.cshtml";
}

<h2>Grants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
